{% extends 'blogapp/blog_base.html' %}


{% block title %}
<title>b- {{ctg}}</title>
{% endblock %}
{% block head %}
{% endblock %}

{% block style %}
<style>
    .content{
        margin-left: 20%;
        margin-right: 25%;
    }
    
    #con-body{
        font-size: larger;
        margin-top: 20px;
    }

    .post{
        margin-top: 20px;
    }
    
    #title{
        margin-top: 10px;
        color: rgb(212, 15, 15);
        font-size: 50px;
    }
    .content img{
        width: 100%;
    }

    @media only screen and (max-width: 800px) {
        .content{
            margin-right: 0;
            margin-left: 0;
            padding: 5%;
            text-align: justify;
            overflow-wrap: break-word;
        }

        .content img{
            width: 100%;
        }
    }
    
</style>
{% endblock %}

{% block body %}
<div class="content">
    <div class="post">
        <h1 id="title">{{post.title}}</h1>
        <p>-by {{post.author.get_full_name}} on {{post.updated}}</p>
        <div id="con-body">{{post.body|safe}}</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}